body {
    font-family: 'Muli', sans-serif;
    margin: 0;
}

nav {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}